{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="/static/css/maps.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.7.0/nouislider.min.css" />
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.0/nouislider.min.js"></script>
  <!-- /* Override default noUiSlider width */ -->
  <style>
  </style>

{% endblock %}

{% block body %}
<h1>Explore neighbourhoods of SF</h1>
<nav>
  <div id="slider-container">
    <!-- <div id="slider-bar" class="theme-light" data-max="24" data-min="0" data-precision="0">
       <input type="range" id="slider-handle-1" class="slider-handles" min="0" max="24" value="0"/>
       <output for="slider-handle-1" id="slider-output-1"></output>
       <input type="range" id="slider-handle-2" class="slider-handles" min="0" max="24" value="0"/>
       <output for="slider-handle-2" id="slider-output-2"></output>
    </div> -->
</div>
  <br>
  <section>
    <label for="time_start_dropdown">Choose the starting hour:</label>
    <select name="time-start" id="time_start_dropdown">
      <option value="">Select an hour</option>
    </select>
  </section>
  <section>
    <label for="time_end_dropdown">Choose the ending hour:</label>
    <select name="time-start" id="time_end_dropdown">
      <option value="">Select an hour</option>
    </select>
  </section>
</nav>

  <section class="map">
    <br>
    <br>
    <br>
    <div id="map"></div>
  </section>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.0/nouislider.min.js"></script>
  <script 
    src="/static/js/mapStyles.js"></script>
  <script src="/static/js/map-neighbourhoods.js"></script>
  <script
    async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBD6npB1SOMfDAjoVYfM1t3xEwq3XPRCXM&libraries=geometry&callback=initMap">
  </script>
  <script 
  async
  src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
    
{% endblock %}
