{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="/static/css/maps.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.0/nouislider.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"/>

  <script src="https://d3js.org/d3.v7.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.0/nouislider.min.js"></script>


  <style>

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.grid img {
  width: 100%;
  height: 100%;;
}

.map-and-gallery-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 90%;
}

.map {
  width: 70%;
  height: 90%;
}

#map {
  width: 90%;
  height: 90%;
}

#gallery {
  width: 30%;
}

  </style>

{% endblock %}

{% block body %}
<h1>Explore neighbourhoods of SF</h1>
<nav>
  <div id="neighbourhood_list"></div>
</nav>

<div class="map-and-gallery-container">
  <section class="map">
    <div id="map"></div>
  </section>

  <div id="gallery"></div>
</div>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.0/nouislider.min.js"></script>
  <script 
    src="/static/js/mapStyles.js"></script>
  <script src="/static/js/map-neighbourhoods.js"></script>
  <script
    async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBD6npB1SOMfDAjoVYfM1t3xEwq3XPRCXM&libraries=geometry&callback=initMap">
  </script>
  <script 
  async
  src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
  <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script> -->

 
    
{% endblock %}
