{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="/static/css/maps.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.7.0/nouislider.min.css" />
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.0/nouislider.min.js"></script>
  <!-- /* Override default noUiSlider width */ -->
  <style>
    .carousel {
    margin-bottom: 0;
	padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
	left: -12px;
}
.carousel-control.right {
	right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
	background: #c0c0c0;
}
.carousel-indicators .active {
background: #333333;
}
  </style>

{% endblock %}

{% block body %}
<h1>Explore neighbourhoods of SF</h1>
<nav>
  <div id="slider-container">
    <!-- <div id="slider-bar" class="theme-light" data-max="24" data-min="0" data-precision="0">
       <input type="range" id="slider-handle-1" class="slider-handles" min="0" max="24" value="0"/>
       <output for="slider-handle-1" id="slider-output-1"></output>
       <input type="range" id="slider-handle-2" class="slider-handles" min="0" max="24" value="0"/>
       <output for="slider-handle-2" id="slider-output-2"></output>
    </div> -->
</div>
  <br>
  <section>
    <label for="time_start_dropdown">Choose the starting hour:</label>
    <select name="time-start" id="time_start_dropdown">
      <option value="">Select an hour</option>
    </select>
  </section>
  <section>
    <label for="time_end_dropdown">Choose the ending hour:</label>
    <select name="time-start" id="time_end_dropdown">
      <option value="">Select an hour</option>
    </select>
  </section>
</nav>

  <section class="map">
    <br>
    <br>
    <br>
    <div id="map"></div>
  </section>
<!-- from https://bootsnipp.com/snippets/0ej -->
  <div class="container">
    <div class="row">
      <div class="span12">
            <div class="well"> 
                  <div id="myCarousel" class="carousel slide">
                   
                  <ol class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel" data-slide-to="1"></li>
                      <li data-target="#myCarousel" data-slide-to="2"></li>
                  </ol>
                   
                  <!-- Carousel items -->
                  <div class="carousel-inner">
                      
                  <div class="item active">
                    <div class="row-fluid">
                      <div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                    </div><!--/row-fluid-->
                  </div><!--/item-->
                   
                  <div class="item">
                    <div class="row-fluid">
                      <div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                    </div><!--/row-fluid-->
                  </div><!--/item-->
                   
                  <div class="item">
                    <div class="row-fluid">
                      <div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                    </div><!--/row-fluid-->
                  </div><!--/item-->
                   
                  </div><!--/carousel-inner-->
                   
                  <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                  <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                  </div><!--/myCarousel-->
                   
              </div><!--/well-->   
      </div>
    </div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.0/nouislider.min.js"></script>
  <script 
    src="/static/js/mapStyles.js"></script>
  <script src="/static/js/map-neighbourhoods.js"></script>
  <script
    async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBD6npB1SOMfDAjoVYfM1t3xEwq3XPRCXM&libraries=geometry&callback=initMap">
  </script>
  <script 
  async
  src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
    
{% endblock %}
