{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="/static/css/maps.css"/>

{% endblock %}

{% block body %}

<nav>
  <section>
    <label for="time_start_dropdown">Choose the starting hour:</label>
    <select name="time-start" id="time_start_dropdown">
      <option value="">Select an hour</option>
    </select>
  </section>
  <section>
    <label for="time_end_dropdown">Choose the ending hour:</label>
    <select name="time-start" id="time_end_dropdown">
      <option value="">Select an hour</option>
    </select>
  </section>
</nav>

  <section class="map">
    <br>
    <br>
    <br>
    <div id="map"></div>
  </section>

  <!-- <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script> -->
  <script src="/static/js/map.js"></script>
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
  <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
  <script
    async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBD6npB1SOMfDAjoVYfM1t3xEwq3XPRCXM&callback=initMap">
  </script>
  
{% endblock %}
