{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="/static/css/maps.css"/>
  <script src="https://d3js.org/d3.v7.min.js"></script>

{% endblock %}

{% block body %}
<h1>Welcome to SF PhotoMap!</h1>
<nav>
  <section>
    <label for="time_start_dropdown">Choose the starting hour:</label>
    <select name="time-start" id="time_start_dropdown">
      <option value="">Select an hour</option>
    </select>
  </section>
  <section>
    <label for="time_end_dropdown">Choose the ending hour:</label>
    <select name="time-start" id="time_end_dropdown">
      <option value="">Select an hour</option>
    </select>
  </section>
</nav>

  <section class="map">
    <br>
    <br>
    <br>
    <div id="map"></div>
  </section>

  <!-- <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script> -->
  <script 
    src="/static/js/mapStyles.js"></script>
  <script src="/static/js/map.js"></script>
  <!-- <script 
    async
    src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script> -->
  <!-- <script 
    async
    src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script> -->

  <script
    async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBD6npB1SOMfDAjoVYfM1t3xEwq3XPRCXM&libraries=geometry&callback=initMap">
  </script>
  <script 
  async
  src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
    
{% endblock %}
